.espacamento{
    padding: 8%
}

h1{
    color: #737c85;
}

.espacamento label {
    font-family: 'Open Sans', sans-serif;
    color: #737c85;
}

.row{
    font-family: 'Open Sans', sans-serif;
    color:#737c85;
}